/* menu and submenu */
.elfinder-contextmenu,
.elfinder-contextmenu-sub {
	display:none;
	position:absolute;
	border:1px solid #aaa;
	background:#fff;
	color:#555;
	padding:4px 0;
}

/* submenu */
.elfinder-contextmenu-sub { top:5px; }
/* submenu in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-sub { margin-left:-5px; }
.elfinder-contextmenu-rtl .elfinder-contextmenu-sub { margin-right:-5px; }

/* menu item */
.elfinder-contextmenu-header {
	margin-top: -4px;
	padding: 0 .5em .2ex;
	border: none;
	text-align: center;
}
.elfinder-contextmenu-header span {
	font-weight: normal;
	font-size: 0.8em;
	font-weight: bolder;
}
.elfinder-contextmenu-item {
	position:relative;
	display:block;
	padding:4px 30px;
	text-decoration:none;
	white-space:nowrap;
	cursor:default;
}
.elfinder-contextmenu-item .ui-icon {
	width:16px;
	height:16px;
	position:absolute;
	left:2px;
	top:50%;
	margin-top:-8px;
	display:none;
}
.elfinder-contextmenu-item.elfinder-touch {
	padding:12px 30px;
}

/* text in item */
.elfinder-contextmenu .elfinder-contextmenu-item span { display:block; }



/* submenu item in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-item { text-align:left; }
.elfinder-contextmenu-rtl .elfinder-contextmenu-item { text-align:right; }
.elfinder-contextmenu-ltr .elfinder-contextmenu-sub .elfinder-contextmenu-item { padding-left:12px;  }
.elfinder-contextmenu-rtl .elfinder-contextmenu-sub .elfinder-contextmenu-item { padding-right:12px; }

/* command/submenu icon */
.elfinder-contextmenu-extra-icon,
.elfinder-contextmenu-arrow,
.elfinder-contextmenu-icon {
	position:absolute;
	top:50%;
	margin-top:-8px;
	overflow: hidden;
}

/* command icon in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-icon { left:8px; }
.elfinder-contextmenu-rtl .elfinder-contextmenu-icon { right:8px; }
.elfinder-contextmenu-ltr .elfinder-contextmenu-extra-icon { right:8px; }
.elfinder-contextmenu-rtl .elfinder-contextmenu-extra-icon { left:8px; }

/* arrow icon */
.elfinder-contextmenu-arrow {
	width:16px;
	height:16px;
	background:url('../img/arrows-normal.png') 5px 4px no-repeat;
}

/* arrow icon in rtl/ltr enviroment */
.elfinder-contextmenu-ltr .elfinder-contextmenu-arrow { right:5px; }
.elfinder-contextmenu-rtl .elfinder-contextmenu-arrow { left:5px; background-position: 0 -10px; }

/* command extra icon's <a>, <span> tag */
.elfinder-contextmenu-extra-icon a, 
.elfinder-contextmenu-extra-icon span {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: 0;
	color: transparent !important;
	text-decoration: none;
	cursor: pointer;
}

/* disable ui border/bg image on hover */
.elfinder-contextmenu .ui-state-hover { border:0 solid; background-image:none;}

/* separator */
.elfinder-contextmenu-separator {
	height:0px;
	border-top:1px solid #ccc;
	margin:0 1px;
}
