.dialogelfinder .dialogelfinder-drag,
.elfinder-place-drag .elfinder-navbar-dir,
.elfinder-quicklook-preview-text-wrapper,
.elfinder-info-tb {
    font-size: .9em;
}

.std42-dialog .ui-dialog-titlebar {
    font-size: .82em;
}

.elfinder-button-search input {
    font-size: .8em;
}

.std42-dialog .ui-dialog-buttonpane, .elfinder-toast {
    font-size: .76em;
}

.elfinder-contextmenu .elfinder-contextmenu-item span,
.std42-dialog .ui-dialog-content,
.elfinder .elfinder-navbar,
.elfinder-quicklook-info-data,
.elfinder-button-menu-item {
    font-size: .72em;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename,
.elfinder-cwd-view-list td,
.elfinder-quicklook-title,
.elfinder-statusbar div {
    font-size: .7em;
}

.elfinder-upload-dropbox, .elfinder-upload-dialog-or {
    font-size: 1.2em;
}

.elfinder-font-mono {
    font-family: "Ricty Diminished", "Myrica M", Consolas, "Courier New", Courier, Monaco, monospace;
    font-size: 1.1em;
}

.elfinder-drag-num {
    font-size: 12px;
}

.elfinder-quicklook-title {
    font-weight: normal;
}
