.elfinder-contextmenu .elfinder-contextmenu-item span { font-size:.76em; }
.elfinder-cwd { font-size:.7em; }
.std42-dialog .ui-dialog-titlebar { font-size:.82em; }
.std42-dialog .ui-dialog-content { font-size:.72em; }
.std42-dialog .ui-dialog-buttonpane { font-size:.76em; }
.elfinder-info-tb { font-size:.9em; }
.elfinder-upload-dialog-or { font-size:1.2em; }
.dialogelfinder .dialogelfinder-drag { font-size:.9em; }
.elfinder .elfinder-navbar { font-size:.72em; }
.elfinder-place-drag .elfinder-navbar-dir { font-size:.9em;}
.elfinder-quicklook-title { font-size:.7em; }
.elfinder-quicklook-info-data { font-size:.72em; }
.elfinder-quicklook-preview-text-wrapper { font-size:.9em; }
.elfinder-button-menu-item { font-size:.72em; }
.elfinder-button-search input { font-size:.8em; }

