/*********************************************/
/*               PLACES STYLES               */
/*********************************************/
/* root extra icon */
.elfinder-navbar-root .elfinder-places-root-icon {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	cursor: pointer;
}
.elfinder-ltr .elfinder-places-root-icon {
	right: 10px;
}
.elfinder-rtl .elfinder-places-root-icon {
	left: 10px;
}
.elfinder-navbar-expanded .elfinder-places-root-icon {
	display: block;
}

/* dragging helper base */
.elfinder-place-drag {
	font-size: 0.8em;
}
