/*  контейнер */
.el-rte { 
	font-family: Trebuchet MS, Verdana, Geneva,sans-serif;
}
.el-rte.el-fullscreen {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:101;
}
/* панель инструментов */
.el-rte .toolbar { background:#eee; padding:3px 7px 2px 7px; border:1px solid #ccc; }
/* панель кнопок */
.el-rte .toolbar ul {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:0;
	list-style:none;
	padding:0 2px 0 5px;
	background: url('../images/elrte-toolbar.png') -857px -2px no-repeat;	
}
/* первая панель кнопок */
.el-rte .toolbar ul.first {
	background:transparent;
	padding-left:0;
}
/* кнопка */
.el-rte .toolbar ul li {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:22px; 
	width:22px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:1px 1px;
	background:url('../images/elrte-toolbar.png') no-repeat; 
	border:1px solid #ccc;	
}
/* активная и подсвеченная и неактивная кнопка */
.el-rte .toolbar ul li.hover    { border:1px solid #54b9bf; }
.el-rte .toolbar ul li.active   { background-color:#c3dbef; border:1px solid #fff; }
.el-rte .toolbar ul li.disabled { opacity:alpha(0.3); opacity: 0.3; }
/*  кнопки  */
.el-rte .toolbar ul li.save                {background-position:-30px -2px;}
.el-rte .toolbar ul li.new                 {background-position:-55px -2px}
.el-rte .toolbar ul li.copy                {background-position:-78px -2px}
.el-rte .toolbar ul li.cut                 {background-position:-104px -2px}
.el-rte .toolbar ul li.paste               {background-position:-128px -2px}
.el-rte .toolbar ul li.pastetext           {background-position:-534px -2px}
.el-rte .toolbar ul li.pasteformattext     {background-position:-154px -2px}
.el-rte .toolbar ul li.removeformat        {background-position:-180px -2px}
.el-rte .toolbar ul li.docstructure        {background-position:-712px -4px}  
.el-rte .toolbar ul li.undo                {background-position:-205px -2px}
.el-rte .toolbar ul li.redo                {background-position:-230px -2px}
.el-rte .toolbar ul li.bold                {background-position:-252px -2px; }
.el-rte .toolbar ul li.italic              {background-position:-270px -2px;}
.el-rte .toolbar ul li.underline           {background-position:-290px -2px; }
.el-rte .toolbar ul li.strikethrough       {background-position:-149px -29px}
.el-rte .toolbar ul li.subscript           {background-position:-54px -29px}
.el-rte .toolbar ul li.superscript         {background-position:-76px -29px}
.el-rte .toolbar ul li.justifyleft         {background-position:-311px -2px}
.el-rte .toolbar ul li.justifycenter       {background-position:-335px -2px}
.el-rte .toolbar ul li.justifyright        {background-position:-360px -2px}
.el-rte .toolbar ul li.justifyfull         {background-position:-174px -29px}
.el-rte .toolbar ul li.insertunorderedlist {background-position:-100px -29px}
.el-rte .toolbar ul li.insertorderedlist   {background-position:-124px -29px}
.el-rte .toolbar ul li.outdent             {background-position:-6px   -29px}
.el-rte .toolbar ul li.indent              {background-position:-32px  -29px}
.el-rte .toolbar ul li.blockquote          {background-position:-220px -30px}
.el-rte .toolbar ul li.div                 {background-position:-655px -29px}
.el-rte .toolbar ul li.stopfloat           {background-position:-771px -5px}  
.el-rte .toolbar ul li.nbsp                {background-position:-580px -2px} 
.el-rte .toolbar ul li.forecolor           {background-position:-372px -30px}
.el-rte .toolbar ul li.hilitecolor         {background-position:-395px -30px}
.el-rte .toolbar ul li.link                {background-position:-244px -29px}
.el-rte .toolbar ul li.unlink              {background-position:-270px -29px}
.el-rte .toolbar ul li.anchor              {background-position:-296px -30px} 
.el-rte .toolbar ul li.image               {background-position:-384px -2px}
.el-rte .toolbar ul li.media               {background-position:-410px -1px}
.el-rte .toolbar ul li.file                {background-position:-436px -3px}
.el-rte .toolbar ul li.table               {background-position:-421px -30px}
.el-rte .toolbar ul li.tableprops          {background-position:-602px -29px}
.el-rte .toolbar ul li.tbcellprops         {background-position:-806px -27px}
.el-rte .toolbar ul li.tablerm             {background-position:-461px -2px}
.el-rte .toolbar ul li.tbrowbefore         {background-position:-683px -4px}
.el-rte .toolbar ul li.tbrowafter          {background-position:-654px -4px}
.el-rte .toolbar ul li.tbrowrm             {background-position:-500px -30px}
.el-rte .toolbar ul li.tbcolbefore         {background-position:-741px -27px}
.el-rte .toolbar ul li.tbcolafter          {background-position:-772px -27px}
.el-rte .toolbar ul li.tbcolrm             {background-position:-526px -30px}
.el-rte .toolbar ul li.tbcellsmerge        {background-position:-552px -30px}
.el-rte .toolbar ul li.tbcellsplit         {background-position:-629px -29px}
.el-rte .toolbar ul li.smiley              {background-position:-322px -29px}
.el-rte .toolbar ul li.spec-text           {background-position:-487px -2px}
.el-rte .toolbar ul li.print               {background-position:-509px -2px}
.el-rte .toolbar ul li.horizontalrule      {background-position:-199px -29px}
.el-rte .toolbar ul li.fullscreen          {background-position:-348px -30px}  
.el-rte .toolbar ul li.elfinder            {background-position:-436px -2px}  


/* рабочая зона (обертка над iframe) */
.el-rte .workzone { border:1px solid #eee; border-top:none;height:100%; min-height:400px; }
.el-rte.small .workzone { min-height:250px; }

/* source code */
.el-rte textarea  { width:100%;  height:100%; min-height:400px; border:none; zoom:1;}
.el-rte.small textarea  { min-height:250px;}
/* редактор */
.el-rte iframe    { 
	width: 100%; 
	min-height:400px; 
	height:100%; 
	outline:0; 
	border:none; 
	padding:0; 
	margin:0;
	background:#fff; 
	z-index:100;
}
.el-rte.small iframe  { min-height:250px;}

/* панель статуса (путь) */
.el-rte .statusbar {
	height: 21px;
	padding: 0 9px;
	font: 11px/21px 'monaco', 'andale mono', 'lucida console', monospace;
	background-color:#eee;
	border-top:1px solid #ccc;	
	border-top:none;
}
/* табы */
.el-rte .tabsbar { display: block; margin-bottom:.7em; }
.el-rte .tabsbar .tab {
	float:left;  
	margin-right:2px; 
	padding: 6px 17px;
	font-size: .82em; 
	font-weight:bold;
	color:#777;
	text-align:center;  
	border:1px solid #eee;
	border-top:none;
	background: #fff;
	cursor: default;
}
.el-rte .tabsbar div.active { background: #eee; color:#444; }

/* выпадающие меню */
/* container for elselect */
.el-rte .toolbar ul li.el-select {
	height:22px;
	width : 120px;
	border:1px solid #ccc;
	font-size:.82em;
	cursor: default;
	background-position:-475px -30px;
}

.el-rte .toolbar ul li.el-select.hover {
	background-color:#fefefe;
}

.el-rte .toolbar ul li.el-select label {
	height:19px;
	padding: 3px 5px 0 5px;
}

/* textarea & iframe в диплогах вставки текста */
.el-rte-paste-input {
	width : 99%;
	height: 250px;
	border: 1px solid #ccc;
	padding:0;
	margin:0;
	outline:none;
}
/* индикатор выбраного цвета на кнопке */
.el-rte .toolbar ul li div.color-indicator {
	width:18px;
	height:4px;
	margin:16px 0 2px 2px;
	background-color: #000;
}
/* colors palette */
.el-palette { top:20px; }

/* диалоговые окна */
.el-dialogform label {
	display:block;
}
.el-dialogform label input {
	margin-right:2px;
}
.el-dialogform iframe.el-rte-preview {
	width : 100%;
	height : 235px;
	margin:0;
	padding:0;
	outline:none;
	border:none;
}
.el-dialogform fieldset {
	border:1px solid #ccc;
	padding : 0;
}
.el-dialogform fieldset legend {
	font-size:.9em;
	padding: .1em .5em;
	margin: 0 0 5px 1em;
	border:1px solid #ccc;
	background-color: #eee;
}


/* widgets */
.el-borderselect {}
.el-borderselect table      {  margin:0; }
.el-borderselect table td   { padding : 0 2px 0 0; vertical-align:middle; }
.el-borderselect input      { margin:0;  border:1px solid #ccc; }

.el-paddinginput        { display: block; white-space: nowrap; }
.el-paddinginput input  { margin :0 1px 0 0; border:1px solid #ccc; }
.el-paddinginput select { padding:0; }
