table {
	width: 100%;
}
table.header td.input {
	width: 100%;
}
table.header td.caption {
	white-space: nowrap;
}
span.note {
	color: gray;
	font-size: 70%;
	padding-left: 0.5em;
}
input.translator {
	width: 20em;
}
table#content td {
	width: 50%;
}
table#content td input {
	width: 100%;
	margin: 5px 0;
}
td input.same {
	background-color: #ffe4e1;
}
tr.even {
	background-color: #f0f8ff;
}
tr.odd {

}
div.makebtn,
div.checkbtn,
div.checkbtn input,
div.checkbtn select {
	font-size: 120%;
}
div.makebtn button {
	font-size: 110%;
}
