.el-contextmenu { 
	position:absolute;
	background:#fff; 
	cursor:default; 
	border:1px solid #ccc;  
	z-index: 10000;
	padding:5px 0;
}
.el-contextmenu div { 
	margin:0;
	padding:.5em 7em .3em .7em;
	font:12px trebuchet ms,lucida grande,verdana,sans-serif;
}
.el-contextmenu div.delim { margin:0; padding:0; height:1px; border-top:1px solid #eee;display:block;}
.el-contextmenu-hover { background:#99ccff; }
