/**
 * light: #aac2da
 * deep:  #50a1d5
 */

body {
  background: white url(../images/bg-falling.png) 50% 0 repeat-x;
  font-size: 100%;
  font-family: "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #222;
}
img { border:0; }
h1, h2, h3 { font-family: 'Trebuchet MS', helvetica, sans-serif; }

.wrap { width: 100%; margin: 0 auto; }
@media screen and (min-width:640px) { 
  .wrap { width: 90%;}
}

.header { margin: 20px 0 20px 0; }
  .header .logo img {
    float: left;
    height: 100px;
  }

  .header h1 {
    padding-left: 10px;
    padding-top: 12px;
    font-family: 'Ubuntu', serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1em;
    margin: 0;
    float: left;
  }

  .header h1 span {
    font-size: 0.42em;
    font-style: italic;
    display: block;
    line-height: 0.8em;
    font-weight: normal;
    font-family: 'Trebuchet MS', helvetica, sans-serif;
  }
  
  .header a { text-decoration: none; color: #222; }

  .menu { float: right; margin-top: 18px; margin-right: 35px; }
    .menu ul { margin: 15px 0; padding: 0; }
    .menu ul li {
      display: inline;
      font-family: 'Trebuchet MS', helvetica, sans-serif;
      font-weight: bold;
      padding: 0 7px;
      font-size: 1.4em;
    }
    .menu li a       { color: #222; text-decoration: none; }
    .menu li a:hover { border-bottom: 3px solid #50a1d5; }
    
  .download { float: right; margin-top: 20px; }

.content {}
  .content a       { color: #222; }
  .content a:hover { color: #555; }

.footer { text-align: center; margin-top: 40px; font-size: 0.8em; }
  .footer a { font-style: italic; text-decoration: none; color: #222; }
  .footer a:hover { text-decoration: underline; }

/* elFinder initial style */
#elfinder {
  height: 400px;
  width: 300px;
  background-image: url("../demo/img/progress.gif");
  background-repeat: repeat-x;
  background-position: center center;
  margin: auto;
}

/* message styles */
.message {
  position: relative;
  color: #565656;
  border: 1px solid #f2eda1;
  background: #fefbd0 url(../images/notify_bg.png) 0 0 repeat-x;
  margin-bottom: 10px;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
  .message p {
    padding: 10px 10px 10px 35px;
    margin: 0 !important;
    line-height: 140%;
    background: url(../images/warning.png) 10px 50% no-repeat;
  }

/* Download button */

.download-button {
	-moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:1.2em;
	font-weight:bold;
	padding:6px 15px 10px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	text-align: center;
	line-height: 90%;
}
  .download-button:hover {
	  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	  background-color:#378de5;
  }
  .download-button:active {
	  position:relative;
	  top:1px;
  }
  a.download-button { color: #ffffff; }
  .download-button span { font-size: 0.6em; color: #eeeeee; line-height: 80%;}

/* misc */
.text-center { text-align: center; }

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html .clearfix {height:1%;}
*+html .clearfix {width:100%;height:1px;}
.clearfix {display: block;}
