/*********************************************/
/*            COMMON ELFINDER STUFFS         */
/*********************************************/

/* common container */
.elfinder { padding:2px; position:relative; display:block; }

/* right to left enviroment */
.elfinder-rtl { text-align:right; direction:rtl; }

/* nav and cwd container */
.elfinder-workzone {
	padding: 0;
	position:relative;
	overflow:hidden;
}

/* dir/file permissions marker */
.elfinder-perms,
/* symlink marker */
.elfinder-symlink {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	background-position:0 -570px;

}

/* noaccess */
.elfinder-na .elfinder-perms { background-position:0 -116px; }

/* read only */
.elfinder-ro .elfinder-perms { background-position:0 -82px;}

/* write only */
.elfinder-wo .elfinder-perms { background-position:0 -98px;}

/* drag helper */
.elfinder-drag-helper {
	width:60px;
	height:50px;
	padding:0 0 0 25px;
	z-index:100000;
}

/* drag helper "plus" icon */
.elfinder-drag-helper-icon-plus {
	position:absolute;
	width:16px;
	height:16px;
	left:43px;
	top:55px;
	background:url('../images/toolbar.png') 0 -592px no-repeat;
	display:none;
}

/* show "plus" icon when ctrl/shift pressed */
.elfinder-drag-helper-plus .elfinder-drag-helper-icon-plus {
	display:block;
}

/* files num in drag helper */
.elfinder-drag-num {
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:14px;
	text-align:center;
	padding-top:2px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background-color:red;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px;
}

/* icon in drag helper */
.elfinder-drag-helper .elfinder-cwd-icon { margin:0 0 0 -24px; float:left; }

/* transparent overlay >_< */
.elfinder-overlay { opacity: 0; filter:Alpha(Opacity=0); }

/* edit text file textarea */
.elfinder-file-edit { width:100%; padding:0;margin:0; border:1px solid #aaa; }

.elfinder-statusbar {
	margin-top:2px;
	text-align:center;
}

.elfinder-statusbar span { font-size:.86em;}

.elfinder-ltr .elfinder-plugin-path { float:left; }
.elfinder-rtl .elfinder-plugin-path { float:right; }

.elfinder-ltr .elfinder-plugin-stat-size { float:right; }
.elfinder-rtl .elfinder-plugin-stat-size { float:left; }



