/******************************************************************/
/*                          COMMANDS STYLES                       */
/******************************************************************/

/********************** COMMAND "EDIT" ****************************/
/* edit text file textarea */
.elfinder-file-edit {
	width:99%;
	height:99%;
	margin:0;
	padding:2px;
	border:1px solid #ccc;
}

/********************** COMMAND "SEARCH" *************************/
/* panel under cwd */
.elfinder-search { margin-bottom:2px; font-size:.72em; }

/* text input */
.elfinder-search input {
	width:250px;
	text-align:left;
	border:1px solid #aaa;
	margin:0 7px;
}

/* button "find" */
.elfinder-search-button {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
}
.elfinder-search .ui-button-icon-only .ui-button-text { padding:1px;}

/* close icon */
.elfinder .elfinder-search-close {
	position:absolute;
	top:50%;
	margin-top:-10px;
	right:0;
	padding:0;
	border:0 solid;
	background:transparent;
}
.elfinder-search .elfinder-search-close .ui-button-text { padding:0;}