
/* common container */
.elfinder { padding:2px; position:relative; }


/************************************/
/*              TOOLBAR             */
/************************************/
.elfinder-toolbar { padding:.2em; }

/* container for button's group */
.elfinder-buttonset {
	float:left;
	padding-left:10px;
	background:url('../images/toolbar.png') 0  -550px  no-repeat; ;
}

/* button */
.elfinder-button {
	float:left;
	margin:0 1px;
	padding:3px;
}

/* rtl/ltr fixes */
.elfinder-rtl .elfinder-buttonset,
.elfinder-rtl .elfinder-button { float:right; }

.elfinder-ltr .elfinder-buttonset:first-child,
.elfinder-rtl .elfinder-buttonset:last-child {
	padding-left:0;
	background:transparent;
}

/* icon inside button */
.elfinder-button-icon {
	width:16px;
	height:16px;
	float:left;
	background:url('../images/toolbar.png')  no-repeat; 
}
/* buttons icons */
.elfinder-button-icon-back       { background-position: 0 -150px; }
.elfinder-button-icon-reload     { background-position: 0 -166px; }
.elfinder-button-icon-select     { background-position: 0 -183px; }
.elfinder-button-icon-open       { background-position: 0 -66px; }
.elfinder-button-icon-mkdir      { background-position: 0 -200px; }
.elfinder-button-icon-mkfile     { background-position: 0 -217px; }
.elfinder-button-icon-upload     { background-position: 0 -237px; }
.elfinder-button-icon-rm         { background-position: 0 -257px; }
.elfinder-button-icon-copy       { background-position: 0 -276px; }
.elfinder-button-icon-cut        { background-position: 0 -294px; }
.elfinder-button-icon-paste      { background-position: 0 -316px; }
.elfinder-button-icon-rename     { background-position: 0 -334px; }
.elfinder-button-icon-edit       { background-position: 0 -352px; }
.elfinder-button-icon-info       { background-position: 0 -424px; }
.elfinder-button-icon-help       { background-position: 0 -442px; }
.elfinder-button-icon-icons      { background-position: 0 -371px; }
.elfinder-button-icon-list       { background-position: 0 -388px; }
.elfinder-button-icon-uncompress { background-position: 0 -404px; }
.elfinder-button-icon-resize     { background-position: 0 -461px; }
.elfinder-button-icon-fullscreen { background-position: 0 -480px; }
.elfinder-button-icon-quicklook  { background-position: 0 -498px; }
.elfinder-button-icon-dock       { background-position: 0 -531px; }
.elfinder-button-icon-undock  { background-position: 0 -514px; }

/* extended toolbar */
.elfinder-toolbar-ext .elfinder-buttonset { background:transparent; }

.elfinder-toolbar-ext .elfinder-button { margin:0; }

/************************************/
/*              WORKZONE             */
/************************************/
/* nav and cwd container */
.elfinder-workzone {
	padding:2px 0;
}

.elfinder-spinner {
	position:absolute;
	width:250px;
	height:50px;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-125px;
	background:transparent url(../images/spinner.gif) 50% 50% no-repeat;
	display:none;
}

.elfinder-error {
	position:absolute;
	width:250px;
/*	height:100px;*/
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-125px;
	padding:.5em .5em 1em .5em;
	font-size:.8em;
	display:none;
}

.elfinder-overlay {
/*	position:absolute;*/
/*	border:2px solid red;*/
/*	display:none;*/
}

.elfinder-error div { clear:both;}
.elfinder-error .ui-icon-alert { float:left; margin:.2em; }
.elfinder-error .ui-icon-close { float:right; margin:.2em; }

/************************************/
/*              NAVIGATION PANEL             */
/************************************/
/* navigation panel with dirs tree */
.elfinder .elfinder-nav {
	height:350px;
	width:220px;
	background-image:none;
	padding:3px;
	font-size:.72em;
	overflow:auto;
}

.elfinder-ltr .elfinder-nav { float:left; margin-right:3px; }
.elfinder-rtl .elfinder-nav { float:right; margin-left:3px; }



.elfinder-nav ul { margin:0; padding:0; list-style:none; }
.elfinder-nav ul.elfinder-tree { margin-bottom:1.5em; }
.elfinder-nav li { padding:0;  margin:0; display:block;}

.elfinder-nav a { 
	position:relative; 
	display:block; 
	overflow:hidden; 
/*	height:1.5em; */
	padding:3px 1px;
/*	margin:0;*/
	outline:0 solid;
}

/*.elfinder-nav a.ui-state-hover { margin:-1px; }*/
.elfinder-nav a.ui-state-active.ui-state-hover { margin:0; }

/*.elfinder-nav a.ui-state-active { border:0 solid;}*/

.elfinder-nav a.ui-state-hover { margin:-1px;}

.elfinder-ltr .elfinder-nav ul li ul { margin-left:12px; }
.elfinder-rtl .elfinder-nav ul li ul  {	margin-right:15px; }
.elfinder-rtl .elfinder-nav ul { text-align:right; }

.elfinder-ltr .elfinder-nav a { padding-left:35px;  }
.elfinder-rtl .elfinder-nav a { padding-right:35px; direction:rtl; }

/* arrow before dir */
.elfinder-nav-collapsed {
	width:12px;
	height:12px;
	position:absolute;
	top:50%;
	margin-top:-6px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	cursor:default;
}

.elfinder-ltr .elfinder-nav-collapsed { left:0; background-position:0 2px; }
.elfinder-rtl .elfinder-nav-collapsed { right:0; background-position:0 -11px;}

.elfinder-ltr .elfinder-nav-expanded { background-position:0 -23px;}
.elfinder-rtl .elfinder-nav-expanded { background-position:-1px -23px; }

/* no arrow for empty dir */
.elfinder-nav-empty { background-image:none; }

/* nav dir icon */
.elfinder-nav-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
/*	border:1px solid #111;*/
}

.elfinder-ltr .elfinder-nav-icon { left:14px; }
.elfinder-rtl .elfinder-nav-icon { right:14px; }

/* dir types */
.elfinder-nav-icon-home            { background-position:0 -35px;}
.elfinder-nav-icon-places          { background-position:0 -134px;}
.elfinder-nav-icon-folder          { background-position:0 -51px; }
.elfinder-nav-icon-folder-open     { background-position:0 -66px;}

.elfinder-nav .elfinder-perms {
	position:absolute;
	width:16px;
	height:16px;
	top:50%;
	margin-top:-8px;
	margin-left:-18px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	
/*	border:1px solid #111;*/
}

.elfinder-nav .elfinder-na .elfinder-perms { background-position:0 -116px; }
.elfinder-nav .elfinder-ro .elfinder-perms { background-position:0 -82px;}
.elfinder-nav .elfinder-wo .elfinder-perms { background-position:0 -98px;}

/*************************************************/
/*          CURRENT WORKING DIRECTORY            */
/*************************************************/
.elfinder-cwd { 
	height: 350px;
	padding: 0 3px;
	overflow: auto;
}

/************** ICONS VIEW *************/
/* file/dir */
.elfinder-cwd a {
	width:80px;
	height:80px;
	border:1px solid #111;
	text-decoration:none;
	cursor:default;
	overflow:hidden;
	position:relative;
}

.elfinder-ltr .elfinder-cwd a { float:left;  margin:0 3px 3px 0; }
.elfinder-rtl .elfinder-cwd a { float:right; margin:0 0   3px 3px; }

/* icon inside file/dir */
.elfinder-big-icon {
	width:48px;
	height:48px;
	display:block; 
	margin:4px auto;
	background: url('../images/icons-big.png') -1px 1px no-repeat;
}

.elfinder-big-icon-directory { background-position:0 -50px; }

/*.elfinder-simlink, 
.elfinder-noaccess, 
.elfinder-readonly, 
.elfinder-dropbox, 
.elfinder-noread {
	position:absolute;
	width:14px;
	height:16px;
}
*/
.elfinder-cwd a .elfinder-simlink,
.elfinder-cwd a .elfinder-noaccess, 
.elfinder-cwd a .elfinder-readonly,
.elfinder-cwd a .elfinder-dropbox,
.elfinder-cwd a .elfinder-noread {
	position:absolute;
	width:14px;
	height:16px;
	top:35px;
	left:50px;
	background:url(../images/icons-big.png) -17px -1310px no-repeat;
}

.elfinder-cwd a .elfinder-simlink  { left:12px; }
.elfinder-cwd a .elfinder-noaccess { background-position: 0 -1430px; }
.elfinder-cwd a .elfinder-readonly { background-position: -34px -1306px; }
.elfinder-cwd a .elfinder-dropbox  { background-position: 0 -1308px; }
.elfinder-cwd a .elfinder-noread   { background-position: 0 -1310px; }

/* filename */
.elfinder-filename {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}

/* filename in icon view */
.elfinder-cwd a .elfinder-filename {
	display:block; margin:5px auto;
	font-size:.7em;
	text-align:center;
	
}

/* textfield inside icon */
.elfinder-cwd a input {
	font-size:.7em;
}

/**********  LIST VIEW ***************/
.elfinder-cwd table { 
	width:100%; 
	border-collapse:collapse; 
}
.elfinder-cwd table td { 
	font-size:.72em;
	padding:.2em .3em;
	white-space:nowrap;
	overflow:hidden;
	text-align:right;
}

.elfinder-cwd table td:first-child { text-align:left;}

/* file icon */
.elfinder-small-icon {
	width:16px;
	height:16px;
	float:left;
	margin-right:.3em;
	background:url(../images/icons-small.png) 1px 0 no-repeat;
}

.elfinder-cwd table td input { width:80%; }

/************************************/
/*             STATUSBAR            */
/************************************/
.elfinder-statusbar {
	padding:.2em .5em;
	font-size:.76em;
	font-weight:normal;
}

/* selected/total files info */
.elfinder-statusbar-info {
	float:right;
	text-align:right;
}

