/* elfinder dialog */
.elfinder-dialog-icon {
	position:absolute;
	width:32px;
	height:32px;
	left:12px;
	top:50%;
	margin-top:-15px;
	background:url(../images/dialogs.png) 0 0 no-repeat;
}

.elfinder-dialog-error .ui-dialog-content,
.elfinder-dialog-confirm .ui-dialog-content { 
	padding-left: 56px;
	min-height:35px;
}
.elfinder-dialog-notify .ui-dialog-titlebar-close { display:none ;}
.elfinder-dialog-notify .ui-dialog-content { padding:0;}

.elfinder-notify {
	border-bottom:1px solid #ccc;
	position:relative;
	padding:.5em;
	padding-left:30px;
	text-align:center;
	overflow:hidden;
}
/*.elfinder-dialog-active { border:1px solid red;}*/

.elfinder-notify:last-child { border:0 solid; }


.elfinder-notify-progressbar {
	width:180px;
	height:8px;
	border:1px solid #aaa;
	background:#f5f5f5;
	margin:5px auto;
	overflow:hidden;
}

.elfinder-notify-progress {
	width:100%;
/*	border:1px solid #aaa;*/
	height:8px;
	background:url(../images/progress.gif) center center repeat-x;
}

.elfinder-notify-progressbar, .elfinder-notify-progress {
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px;
}

.elfinder-dialog-confirm-applyall {
	padding-top:3px;
}

.elfinder-dialog-confirm .elfinder-dialog-icon { background-position:0 -32px; }

.elfinder-dialog-icon-open { background-position: 0 -225px; }

.elfinder-notify-mkdir     .elfinder-dialog-icon { background-position: 0 -64px; }
.elfinder-notify-mkfile    .elfinder-dialog-icon { background-position: 0 -96px; }
.elfinder-notify-paste     .elfinder-dialog-icon,
.elfinder-notify-diplicate .elfinder-dialog-icon { background-position: 0 -128px; }
.elfinder-notify-upload    .elfinder-dialog-icon { background-position: 0 -160px; }
.elfinder-notify-rm        .elfinder-dialog-icon { background-position: 0 -192px; }




