/************************************/
/*            COMMON STUFFS         */
/************************************/
/* dir/file permissions marker */
.elfinder-perms,
/* symlink marker */
.elfinder-symlink {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	background-position:0 -570px;
/*	border:1px solid #111;*/
}
/* noaccess */
.elfinder-na .elfinder-perms { background-position:0 -116px; }
/* read only */
.elfinder-ro .elfinder-perms { background-position:0 -82px;}
/* write only */
.elfinder-wo .elfinder-perms { background-position:0 -98px;}

/* common container */
.elfinder { padding:2px; position:relative; }

.elfinder-rtl  { text-align:right; direction:rtl; }
/* drag helper */
.elfinder-drag-helper {
	width:100px;
	height:50px;
	border:1px solid #111;
	padding:0 0 0 12px;
}

.elfinder-drag-helper-plus {
	background:url('../images/toolbar.png') 0 -591px no-repeat;
}
/* icons in drag helper */
.elfinder-drag-icon { float:left; margin-left:-30px;}
.elfinder-drag-icon:first-child { margin-left:0; }
/* files num in drag helper */
.elfinder-drag-num {
	padding:1px 5px 3px 5px;
	font-size:.7em;
	font-weight:bold;
	color:#fff;
	position:absolute;
	top:0;
	left:57px;
	background-color:red;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px;
}

/************************************/
/*              TOOLBAR             */
/************************************/
.elfinder-toolbar { padding:.2em; }

/* container for button's group */
.elfinder-buttonset {
	float:left;
	padding-left:10px;
	background:url('../images/toolbar.png') 0  -550px  no-repeat; ;
}

/* button */
.elfinder-button {
	float:left;
	margin:0 1px;
	padding:3px;
}

/* rtl/ltr fixes */
.elfinder-rtl .elfinder-buttonset,
.elfinder-rtl .elfinder-button { float:right; }

.elfinder-ltr .elfinder-buttonset:first-child,
.elfinder-rtl .elfinder-buttonset:last-child {
	padding-left:0;
	background:transparent;
}

/* icon inside button */
.elfinder-button-icon {
	width:16px;
	height:16px;
	float:left;
	background:url('../images/toolbar.png')  no-repeat; 
}
/* buttons icons */
.elfinder-button-icon-back       { background-position: 0 -150px; }
.elfinder-button-icon-reload     { background-position: 0 -166px; }
.elfinder-button-icon-select     { background-position: 0 -183px; }
.elfinder-button-icon-open       { background-position: 0 -66px; }
.elfinder-button-icon-mkdir      { background-position: 0 -200px; }
.elfinder-button-icon-mkfile     { background-position: 0 -217px; }
.elfinder-button-icon-upload     { background-position: 0 -237px; }
.elfinder-button-icon-rm         { background-position: 0 -257px; }
.elfinder-button-icon-copy       { background-position: 0 -276px; }
.elfinder-button-icon-cut        { background-position: 0 -294px; }
.elfinder-button-icon-paste      { background-position: 0 -316px; }
.elfinder-button-icon-rename     { background-position: 0 -334px; }
.elfinder-button-icon-edit       { background-position: 0 -352px; }
.elfinder-button-icon-info       { background-position: 0 -424px; }
.elfinder-button-icon-help       { background-position: 0 -442px; }
.elfinder-button-icon-icons      { background-position: 0 -371px; }
.elfinder-button-icon-list       { background-position: 0 -388px; }
.elfinder-button-icon-uncompress { background-position: 0 -404px; }
.elfinder-button-icon-resize     { background-position: 0 -461px; }
.elfinder-button-icon-fullscreen { background-position: 0 -480px; }
.elfinder-button-icon-quicklook  { background-position: 0 -498px; }
.elfinder-button-icon-dock       { background-position: 0 -531px; }
.elfinder-button-icon-undock  { background-position: 0 -514px; }

/* extended toolbar */
.elfinder-toolbar-ext .elfinder-buttonset { background:transparent; }

.elfinder-toolbar-ext .elfinder-button { margin:0; }

/************************************/
/*              WORKZONE             */
/************************************/
/* nav and cwd container */
.elfinder-workzone {
	padding:2px 0;
}

.elfinder-spinner {
	position:absolute;
	width:250px;
	height:50px;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-125px;
	background:transparent url(../images/spinner.gif) 50% 50% no-repeat;
	display:none;
}

.elfinder-error {
	position:absolute;
	width:250px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-125px;
	padding:.5em .5em 1em .5em;
	font-size:.8em;
	display:none;
}

.elfinder-error div { clear:both; }
.elfinder-error .ui-icon-alert { float:left; margin:.2em; }
.elfinder-error .ui-icon-close { float:right; margin:.2em; }

/************************************/
/*              NAVIGATION PANEL             */
/************************************/
/* navigation panel with dirs tree */
.elfinder .elfinder-nav {
	height:350px;
	width:220px;
	background-image:none;
	padding:3px;
	font-size:.72em;
	overflow:auto;
}

.elfinder-ltr .elfinder-nav { float:left; margin-right:3px; }
.elfinder-rtl .elfinder-nav { float:right; margin-left:3px; }



.elfinder-nav ul { margin:0; padding:0; list-style:none; }
.elfinder-nav ul.elfinder-tree { margin-bottom:1.5em; }
.elfinder-nav li { padding:0;  margin:0; display:block;}

.elfinder-nav a { 
	position:relative; 
	display:block; 
	overflow:hidden; 
	padding:3px 1px;
	outline:0 solid;
	margin:1px;
}

.elfinder-nav a.ui-state-active { margin:-1px 0; }

.elfinder-nav a.ui-state-hover { margin:-1px 0px;}
.elfinder-nav a.elfinder-nav-home.ui-state-hover { margin-top:0; }


.elfinder-ltr .elfinder-nav ul li ul { margin-left:12px; }
.elfinder-rtl .elfinder-nav ul li ul  {	margin-right:15px; }


.elfinder-ltr .elfinder-nav a { padding-left:35px; }
.elfinder-rtl .elfinder-nav a { padding-right:35px; }

/* arrow before dir */
.elfinder-nav-collapsed {
	width:12px;
	height:12px;
	position:absolute;
	top:50%;
	margin-top:-6px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	cursor:default;
}

.elfinder-ltr .elfinder-nav-collapsed { left:0; background-position:0 2px; }
.elfinder-rtl .elfinder-nav-collapsed { right:0; background-position:0 -11px;}

.elfinder-ltr .elfinder-nav-expanded { background-position:0 -23px;}
.elfinder-rtl .elfinder-nav-expanded { background-position:-1px -23px; }

/* no arrow for empty dir */
.elfinder-nav-empty { background-image:none; }

/* nav dir icon */
.elfinder-nav-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
}

.elfinder-ltr .elfinder-nav-icon { left:14px; }
.elfinder-rtl .elfinder-nav-icon { right:14px; }

/* dir types */
.elfinder-nav-icon-home            { background-position:0 -35px;}
.elfinder-nav-icon-places          { background-position:0 -134px;}
.elfinder-nav-icon-folder          { background-position:0 -51px; }
.elfinder-nav-icon-folder-open     { background-position:0 -66px;}


/* permissions marker in nav */
.elfinder-nav .elfinder-perms { top:50%; margin-top:-8px; }
.elfinder-ltr .elfinder-nav .elfinder-perms { left: 18px; }
.elfinder-rtl .elfinder-nav .elfinder-perms { right:18px; }


/*************************************************/
/*          CURRENT WORKING DIRECTORY            */
/*************************************************/
.elfinder-cwd { 
	height: 356px;
	padding: 0 3px;
	overflow: auto;
/*	border:1px solid #111;*/
	font-size:.7em;
}

/************** ICONS VIEW *************/
.elfinder-cwd .ui-state-hover { font-weight:normal; }

.elfinder-cwd-view-icons .elfinder-cwd-file {
	width:80px;
	height:80px;
	padding-bottom:2px;
	cursor:default;
	overflow:hidden;

}

.elfinder-ltr .elfinder-cwd-view-icons .elfinder-cwd-file { float:left;  margin:0 3px 3px 0; }
.elfinder-rtl .elfinder-cwd-view-icons .elfinder-cwd-file { float:right; margin:0 0 3px 3px; }

.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
	width:51px;
	height:51px;
/*	border:1px solid #ccc;*/
	margin:1px auto 1px auto;
	padding:2px;
	position:relative;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename {
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
	margin:3px 1px 0 1px;
}



.elfinder-cwd-view-icons .ui-state-hover { border:0 solid;}
/*.elfinder-cwd-iv-file-wrapper.ui-state-hover { margin:0 auto;  }*/
/*.elfinder-cwd-iv-file-name.ui-state-hover {margin:1px 0 0 0;}*/

/*.ui-state-hover .elfinder-cwd-icon-wrapper { margin-top:-1px; margin-bottom:2px;}*/
/*.ui-state-hover*/


.elfinder-cwd-view-icons .elfinder-perms { bottom:2px; right:2px; }
.elfinder-cwd-view-icons .elfinder-symlink { top:50%; left:0px; }

.elfinder-cwd-icon {
	width:48px;
	height:48px;
	margin:0 auto;
	background: url('../images/icons-big.png') 0 1px no-repeat;
}


/* file/dir */
/*
.elfinder-cwd-icons .elfinder-file {
	width:80px;
	height:80px;
	border:1px solid #111;
	font-size:.7em;
	cursor:default;
	overflow:hidden;
	position:relative;
}


.elfinder-ltr .elfinder-cwd-icons .elfinder-file { float:left;  margin:0 3px 3px 0; }
.elfinder-rtl .elfinder-cwd-icons .elfinder-file { float:right; margin:0 0   3px 3px; }
*/
/* icon inside file/dir */

.elfinder-cwd-view-icons .elfinder-cwd-icon-directory { background-position:0 -50px; }
.elfinder-cwd-view-icons .elfinder-cwd-icon-directory-opened { background-position: 0 -98px; }

.elfinder-cwd-view-icons .elfinder-cwd-icon-application { background-position:0 -150px; }
/*.elfinder-cwd-icon-big-*/
/*.elfinder-cwd-icon-big-*/

.elfinder .audio .elfinder-cwd-icon{ background-position:0 -300px; }
.elfinder .image .elfinder-cwd-icon, 
.elfinder .vnd-adobe-photoshop .elfinder-cwd-icon,
.elfinder .postscript .elfinder-cwd-icon { background-position:0 -250px;  }
.elfinder .text .elfinder-cwd-icon,
.elfinder .x-empty .elfinder-cwd-icon { background-position:0  -200px; }
.elfinder .video .elfinder-cwd-icon{ background-position:0 -350px; }
.elfinder .rtf .elfinder-cwd-icon,
.elfinder .rtfd .elfinder-cwd-icon { background-position: 0 -400px; }
.elfinder .html .elfinder-cwd-icon { background-position: 0 -550px; }
.elfinder .css .elfinder-cwd-icon { background-position: 0 -600px; }
.elfinder .javascript .elfinder-cwd-icon,
.elfinder .x-javascript .elfinder-cwd-icon { background-position: 0 -650px; }
.elfinder .x-perl .elfinder-cwd-icon { background-position: 0 -700px; }
.elfinder .x-python .elfinder-cwd-icon { background-position: 0 -750px; }
.elfinder .x-ruby .elfinder-cwd-icon { background-position: 0 -800px; }
.elfinder .x-sh .elfinder-cwd-icon,
.elfinder .x-shellscript .elfinder-cwd-icon { background-position: 0 -850px; }
.elfinder .x-c .elfinder-cwd-icon,
.elfinder .x-java-source .elfinder-cwd-icon { background-position: 0 -900px; }
.elfinder .x-php .elfinder-cwd-icon { background-position: 0 -950px; }
.elfinder .xml .elfinder-cwd-icon{ background-position: 0 -1000px; }
.elfinder .pdf .elfinder-cwd-icon { background-position: 0 -450px; }
.elfinder .x-shockwave-flash .elfinder-cwd-icon { background-position: 0 -1250px; }
.elfinder .zip .elfinder-cwd-icon, 
.elfinder .x-7z-compressed .elfinder-cwd-icon { background-position: 0 -1050px; }
.elfinder .x-gzip .elfinder-cwd-icon, 
.elfinder .x-tar .elfinder-cwd-icon { background-position: 0 -1100px; }
.elfinder .x-bzip .elfinder-cwd-icon, 
.elfinder .x-bzip2 .elfinder-cwd-icon{ background-position: 0 -1150px; }
.elfinder .x-rar .elfinder-cwd-icon, 
.elfinder .x-rar-compressed .elfinder-cwd-icon { background-position: 0 -1200px; }
.elfinder .vnd-ms-office .elfinder-cwd-icon, 
.elfinder .msword .elfinder-cwd-icon, 
.elfinder .vnd-ms-word .elfinder-cwd-icon, 
.elfinder .vnd-oasis-opendocument-text .elfinder-cwd-icon, 
.elfinder .ms-excel .elfinder-cwd-icon, 
.elfinder .vnd-ms-excel .elfinder-cwd-icon, 
.elfinder .vnd-oasis-opendocument-spreadsheet .elfinder-cwd-icon, 
.elfinder .vnd-ms-powerpoint .elfinder-cwd-icon, 
.elfinder .vnd-oasis-opendocument-presentation .elfinder-cwd-icon { background-position: 0 -500px; }

/* permissions marker */
/*.elfinder-cwd-icons .elfinder-perms { top:35px; right:17px; }*/
/* symlink marker */
/*.elfinder-cwd-icons .elfinder-symlink { top:22px; left:12px;}*/

/* filename in icon view */
/*.elfinder-cwd-icons .elfinder-filename {
	display:block; 
	margin:5px auto;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
*/
/* textfield inside icon */
.elfinder-cwd input {
	width:100%;
	font-size:.7em;
}


/**********  LIST VIEW ***************/
.elfinder-cwd table { width:100%; border-collapse:collapse; }

.elfinder-cwd table td { 
	padding:.2em .3em;
	white-space:nowrap;
	overflow:hidden;
	text-align:right;
	cursor:default;
	border:0 solid;
/*	font-size:1.5em;*/
}

.elfinder-cwd table td.ui-state-hover {border:0 solid; }

.elfinder-ltr .elfinder-cwd table td { text-align:right; }
.elfinder-ltr .elfinder-cwd table td:first-child { text-align:left; }
.elfinder-rtl .elfinder-cwd table td { text-align:left; }
.elfinder-rtl .elfinder-cwd table td:first-child { text-align:right; }

.elfinder-odd-row { background:#eee; }

/* filename container */
.elfinder-cwd-view-list .elfinder-cwd-file-wrapper {
	text-align:left;
	padding-left:23px;
	position:relative;
}

.elfinder-cwd-view-list .elfinder-perms, 
.elfinder-cwd-view-list .elfinder-symlink { top:50%; margin-top:-6px; }

.elfinder-ltr .elfinder-cwd-view-list .elfinder-perms { left:7px;  }

.elfinder-ltr .elfinder-cwd-view-list .elfinder-symlink { left:-7px;}

.elfinder-cwd-view-list .elfinder-cwd-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background:url(../images/icons-small.png) 1px 0 no-repeat;
}


.elfinder-ltr .elfinder-cwd-view-list .elfinder-cwd-icon { left:0;  }
.elfinder-rtl .elfinder-cwd-view-list .elfinder-cwd-icon { right:0; }

.elfinder-cwd-view-list .elfinder-cwd-icon-directory { background-position:0 -16px; }

.elfinder-cwd-list .directory .elfinder-cwd-icon { background-position:0 -16px; }
.elfinder-cwd-list .text .elfinder-cwd-icon { background-position:0 -34px; }
.elfinder-cwd-list .image .elfinder-cwd-icon { background-position:0 -51px; }
.elfinder-cwd-list .audio .elfinder-cwd-icon { background-position:0 -70px; }
.elfinder-cwd-list .video .elfinder-cwd-icon { background-position:0 -89px; }
.elfinder-cwd-list .html .elfinder-cwd-icon { background-position:0 -188px; }
.elfinder-cwd-list .application .elfinder-cwd-icon { background-position:0 -108px; }
.elfinder-cwd-list .javascript .elfinder-cwd-icon, 
.elfinder-cwd-list .x-javascript .elfinder-cwd-icon,
.elfinder-cwd-list .css .elfinder-cwd-icon,
.elfinder-cwd-list .x-sql .elfinder-cwd-icon,
.elfinder-cwd-list .xml .elfinder-cwd-icon,
.elfinder-cwd-list .x-python .elfinder-cwd-icon,
.elfinder-cwd-list .x-java-source .elfinder-cwd-icon,
.elfinder-cwd-list .x-perl .elfinder-cwd-icon,
.elfinder-cwd-list .x-ruby .elfinder-cwd-icon { background-position:0 -228px; }
.elfinder-cwd-list .x-php .elfinder-cwd-icon { background-position:0 -247px; }
.elfinder-cwd-list .x-c .elfinder-cwd-icon{ background-position:0  -208px; }
.elfinder-cwd-list .x-sh .elfinder-cwd-icon, 
.elfinder-cwd-list .x-shellscript .elfinder-cwd-icon { background-position:0  -168px; }
.elfinder-cwd-list .rtf .elfinder-cwd-icon, 
.elfinder-cwd-list .rtfd .elfinder-cwd-icon { background-position:0  -148px; }
.elfinder-cwd-list .x-shockwave-flash .elfinder-cwd-icon { background-position:0  -266px; }
.elfinder-cwd-list .pdf .elfinder-cwd-icon { background-position:0  -285px; }
.elfinder-cwd-list .vnd-ms-office .elfinder-cwd-icon { background-position:0  -325px; }







/* permissions marker */
/*.elfinder-cwd-list .elfinder-perms { left:5px; right:0; }*/
/*.elfinder-ltr .elfinder-cwd-list .elfinder-perms { left:5px; top:1px;}*/
/*.elfinder-rtl .elfinder-cwd-list .elfinder-perms { right:-3px; top:1px; }*/
/* symlink marker */
/*.elfinder-ltr .elfinder-cwd-list .elfinder-symlink { left:-5px; top:1px; }*/
/*.elfinder-rtl .elfinder-cwd-list .elfinder-symlink { right:7px; top:1px;}*/
.elfinder-cwd-list input { width:80%; }

/************************************/
/*             STATUSBAR            */
/************************************/
.elfinder-statusbar {
	padding:.2em .5em;
	font-size:.76em;
	font-weight:normal;
}

/* selected/total files info */
.elfinder-statusbar-info {
	float:right;
	text-align:right;
}

