/************************************/
/*            COMMON STUFFS         */
/************************************/
/* dir/file permissions marker */
.elfinder-perms,
/* symlink marker */
.elfinder-symlink {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	background-position:0 -570px;
/*	border:1px solid #111;*/
}
/* noaccess */
.elfinder-na .elfinder-perms { background-position:0 -116px; }
/* read only */
.elfinder-ro .elfinder-perms { background-position:0 -82px;}
/* write only */
.elfinder-wo .elfinder-perms { background-position:0 -98px;}

/* common container */
.elfinder { padding:2px; position:relative; }

.elfinder-rtl  { text-align:right; direction:rtl; }

.elfinder-drag-helper {
	width:50px;
	height:50px;
	border:1px solid #111;
}

/************************************/
/*              TOOLBAR             */
/************************************/
.elfinder-toolbar { padding:.2em; }

/* container for button's group */
.elfinder-buttonset {
	float:left;
	padding-left:10px;
	background:url('../images/toolbar.png') 0  -550px  no-repeat; ;
}

/* button */
.elfinder-button {
	float:left;
	margin:0 1px;
	padding:3px;
}

/* rtl/ltr fixes */
.elfinder-rtl .elfinder-buttonset,
.elfinder-rtl .elfinder-button { float:right; }

.elfinder-ltr .elfinder-buttonset:first-child,
.elfinder-rtl .elfinder-buttonset:last-child {
	padding-left:0;
	background:transparent;
}

/* icon inside button */
.elfinder-button-icon {
	width:16px;
	height:16px;
	float:left;
	background:url('../images/toolbar.png')  no-repeat; 
}
/* buttons icons */
.elfinder-button-icon-back       { background-position: 0 -150px; }
.elfinder-button-icon-reload     { background-position: 0 -166px; }
.elfinder-button-icon-select     { background-position: 0 -183px; }
.elfinder-button-icon-open       { background-position: 0 -66px; }
.elfinder-button-icon-mkdir      { background-position: 0 -200px; }
.elfinder-button-icon-mkfile     { background-position: 0 -217px; }
.elfinder-button-icon-upload     { background-position: 0 -237px; }
.elfinder-button-icon-rm         { background-position: 0 -257px; }
.elfinder-button-icon-copy       { background-position: 0 -276px; }
.elfinder-button-icon-cut        { background-position: 0 -294px; }
.elfinder-button-icon-paste      { background-position: 0 -316px; }
.elfinder-button-icon-rename     { background-position: 0 -334px; }
.elfinder-button-icon-edit       { background-position: 0 -352px; }
.elfinder-button-icon-info       { background-position: 0 -424px; }
.elfinder-button-icon-help       { background-position: 0 -442px; }
.elfinder-button-icon-icons      { background-position: 0 -371px; }
.elfinder-button-icon-list       { background-position: 0 -388px; }
.elfinder-button-icon-uncompress { background-position: 0 -404px; }
.elfinder-button-icon-resize     { background-position: 0 -461px; }
.elfinder-button-icon-fullscreen { background-position: 0 -480px; }
.elfinder-button-icon-quicklook  { background-position: 0 -498px; }
.elfinder-button-icon-dock       { background-position: 0 -531px; }
.elfinder-button-icon-undock  { background-position: 0 -514px; }

/* extended toolbar */
.elfinder-toolbar-ext .elfinder-buttonset { background:transparent; }

.elfinder-toolbar-ext .elfinder-button { margin:0; }

/************************************/
/*              WORKZONE             */
/************************************/
/* nav and cwd container */
.elfinder-workzone {
	padding:2px 0;
}

.elfinder-spinner {
	position:absolute;
	width:250px;
	height:50px;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-125px;
	background:transparent url(../images/spinner.gif) 50% 50% no-repeat;
	display:none;
}

.elfinder-error {
	position:absolute;
	width:250px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-125px;
	padding:.5em .5em 1em .5em;
	font-size:.8em;
	display:none;
}

.elfinder-error div { clear:both; }
.elfinder-error .ui-icon-alert { float:left; margin:.2em; }
.elfinder-error .ui-icon-close { float:right; margin:.2em; }

/************************************/
/*              NAVIGATION PANEL             */
/************************************/
/* navigation panel with dirs tree */
.elfinder .elfinder-nav {
	height:350px;
	width:220px;
	background-image:none;
	padding:3px;
	font-size:.72em;
	overflow:auto;
}

.elfinder-ltr .elfinder-nav { float:left; margin-right:3px; }
.elfinder-rtl .elfinder-nav { float:right; margin-left:3px; }



.elfinder-nav ul { margin:0; padding:0; list-style:none; }
.elfinder-nav ul.elfinder-tree { margin-bottom:1.5em; }
.elfinder-nav li { padding:0;  margin:0; display:block;}

.elfinder-nav a { 
	position:relative; 
	display:block; 
	overflow:hidden; 
	padding:3px 1px;
	outline:0 solid;
	margin:1px;
}

.elfinder-nav a.ui-state-active { margin:-1px 0; }

.elfinder-nav a.ui-state-hover { margin:-1px 0px;}

.elfinder-ltr .elfinder-nav ul li ul { margin-left:12px; }
.elfinder-rtl .elfinder-nav ul li ul  {	margin-right:15px; }


.elfinder-ltr .elfinder-nav a { padding-left:35px; }
.elfinder-rtl .elfinder-nav a { padding-right:35px; }

/* arrow before dir */
.elfinder-nav-collapsed {
	width:12px;
	height:12px;
	position:absolute;
	top:50%;
	margin-top:-6px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
	cursor:default;
}

.elfinder-ltr .elfinder-nav-collapsed { left:0; background-position:0 2px; }
.elfinder-rtl .elfinder-nav-collapsed { right:0; background-position:0 -11px;}

.elfinder-ltr .elfinder-nav-expanded { background-position:0 -23px;}
.elfinder-rtl .elfinder-nav-expanded { background-position:-1px -23px; }

/* no arrow for empty dir */
.elfinder-nav-empty { background-image:none; }

/* nav dir icon */
.elfinder-nav-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url(../images/toolbar.png);
	background-repeat:no-repeat;
/*	border:1px solid #111;*/
}

.elfinder-ltr .elfinder-nav-icon { left:14px; }
.elfinder-rtl .elfinder-nav-icon { right:14px; }

/* dir types */
.elfinder-nav-icon-home            { background-position:0 -35px;}
.elfinder-nav-icon-places          { background-position:0 -134px;}
.elfinder-nav-icon-folder          { background-position:0 -51px; }
.elfinder-nav-icon-folder-open     { background-position:0 -66px;}


/* permissions marker in nav */
.elfinder-nav .elfinder-perms { top:50%; margin-top:-8px; }
.elfinder-ltr .elfinder-perms { left: 18px; }
.elfinder-rtl .elfinder-perms { right:18px; }


/*************************************************/
/*          CURRENT WORKING DIRECTORY            */
/*************************************************/
.elfinder-cwd { 
	height: 356px;
	padding: 0 3px;
	overflow: auto;
/*	border:1px solid #111;*/
}

/************** ICONS VIEW *************/
/* file/dir */
.elfinder-cwd-icons .elfinder-file {
	width:80px;
	height:80px;
	border:1px solid #111;
	font-size:.7em;
	cursor:default;
	overflow:hidden;
	position:relative;
}

.elfinder-ltr .elfinder-cwd-icons .elfinder-file { float:left;  margin:0 3px 3px 0; }
.elfinder-rtl .elfinder-cwd-icons .elfinder-file { float:right; margin:0 0   3px 3px; }

/* icon inside file/dir */
.elfinder-cwd-icons .elfinder-cwd-icon {
	width:48px;
	height:48px;
	display:block; 
	margin:4px auto;
	background: url('../images/icons-big.png') 0 0 no-repeat;
}

.elfinder-cwd-icons .directory        .elfinder-cwd-icon { background-position:0 -50px; }
.elfinder-cwd-icons .directory-opened .elfinder-cwd-icon { background-position: 0 -98px; }

/* permissions marker */
.elfinder-cwd-icons .elfinder-perms { top:32px; right:17px; }
/* symlink marker */
.elfinder-cwd-icons .elfinder-symlink { top:32px; left:12px;}

/* filename in icon view */
.elfinder-cwd-icons .elfinder-filename {
	display:block; 
	margin:5px auto;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}

/* textfield inside icon */
.elfinder-cwd input {
	width:100%;
	font-size:.7em;
}

/*.elfinder .ui-state-disabaled, .elfinder .ui-draggable-disabaled { opacity:1; }*/

/**********  LIST VIEW ***************/
.elfinder-cwd table { 
	width:100%; 
	border-collapse:collapse; 
}

.elfinder-cwd table td { 
	font-size:.72em;
	padding:.2em .3em;
	white-space:nowrap;
	overflow:hidden;
	text-align:right;
	cursor:default;
}

.elfinder-odd-row { background:#eee; }

/* filename container */
.elfinder-cwd-list div {
	text-align:left;
	padding-left:23px;
	position:relative;
}


/* file icon */
tr .elfinder-cwd-icon {
	width:16px;
	height:16px;
	position:absolute;
/*	left:0;*/
	top:50%;
	margin-top:-8px;
	background:url(../images/icons-small.png) 1px 0 no-repeat;
}

.elfinder-ltr tr .elfinder-cwd-icon { left:0;  }
.elfinder-rtl tr .elfinder-cwd-icon { right:0; }

/* permissions marker */
/*.elfinder-cwd-list .elfinder-perms { left:5px; right:0; }*/
.elfinder-ltr .elfinder-cwd-list .elfinder-perms { left:5px; top:1px;}
.elfinder-rtl .elfinder-cwd-list .elfinder-perms { right:-3px; top:1px; }
/* symlink marker */
.elfinder-ltr .elfinder-cwd-list .elfinder-symlink { left:-5px; top:1px; }
.elfinder-rtl .elfinder-cwd-list .elfinder-symlink { right:7px; top:1px;}
.elfinder-cwd-list input { width:80%; }

/************************************/
/*             STATUSBAR            */
/************************************/
.elfinder-statusbar {
	padding:.2em .5em;
	font-size:.76em;
	font-weight:normal;
}

/* selected/total files info */
.elfinder-statusbar-info {
	float:right;
	text-align:right;
}

