/*********************************************/
/*              NAVIGATION PANEL             */
/*********************************************/

/* container */
.elfinder .elfinder-navbar {
	width:220px;
	padding:3px 10px 3px 1px;
	font-size:.72em;
	background-image:none;
	overflow:auto;
	display:none;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar { float:left;  margin-right:3px; }
.elfinder-rtl .elfinder-navbar { float:right; margin-left:3px; }

/* folders tree container */
.elfinder-navbar-tree { margin-bottom:1em; display:table; width:100%;  }

/* subdirs tree */
.elfinder-navbar-subtree { display:none; }

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-subtree { margin-left:12px; }
.elfinder-rtl .elfinder-navbar-subtree { margin-right:12px; }

/* one folder wrapper */
.elfinder-navbar-dir-wrapper {}

/* folder */
.elfinder-navbar-dir { 
	position:relative; 
	display:block; 
	white-space:nowrap;
	padding:3px 12px;
	margin: 0;
	outline:0 solid;
	border:1px solid transparent;
	cursor:default;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-dir { padding-left:35px; }
.elfinder-rtl .elfinder-navbar-dir { padding-right:35px; }

/* arrow before icon */
.elfinder-navbar-arrow {
	width:12px;
	height:14px;
	position:absolute;
	display:none;
	top:50%;
	margin-top:-8px;
	background-image:url("../images/toolbar.png");
	background-repeat:no-repeat;
}

/* collapsed/expanded arrow view */
.elfinder-navbar-collapsed .elfinder-navbar-arrow { display:block; }

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-navbar-collapsed .elfinder-navbar-arrow { left:0;  background-position: 0 4px;  }
.elfinder-rtl .elfinder-navbar-expanded .elfinder-navbar-arrow { right:0;  }
.elfinder-ltr .elfinder-navbar-expanded .elfinder-navbar-arrow,
.elfinder-rtl .elfinder-navbar-expanded .elfinder-navbar-arrow { background-position:0 -21px; }

.elfinder-navbar-spinner { 
	width:14px;
	height:14px;
	position:absolute;
	display:block;
/*	border:1px solid #111;*/
	top:50%;
	margin-top:-7px;
	background: url("../images/spinner-mini.gif") center center no-repeat;
}

.elfinder-ltr .elfinder-navbar-spinner { left:0;  margin-left:-2px;  }
/*.elfinder-rtl .elfinder-navbar-spinner { right:0; margin-right:-2px; }*/

/* folder icon */
.elfinder-nav-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url("../images/toolbar.png");
	background-repeat:no-repeat;
	background-position:0 -51px;
}

/* ltr/rtl enviroment */
.elfinder-ltr .elfinder-nav-icon { left:14px; }
.elfinder-rtl .elfinder-nav-icon { right:14px; }

.ui-state-active .elfinder-nav-icon, 
.elfinder-droppable-active .elfinder-nav-icon, .ui-state-hover .elfinder-nav-icon { background-position:0 -66px; }

.elfinder-navbar-tree-root .elfinder-nav-icon { background-position:-1px -35px; }

.elfinder-navbar .elfinder-perms { top:50%; margin-top:-8px; }

.elfinder-ltr .elfinder-navbar .elfinder-perms   { left:  18px; }
.elfinder-rtl .elfinder-navbar .elfinder-perms   { right: 18px; }
.elfinder-ltr .elfinder-navbar .elfinder-symlink { left:  8px; }
.elfinder-rtl .elfinder-navbar .elfinder-symlink { right: 8px; }


.elfinder-navbar .ui-resizable-handle { width:12px; background:transparent; }
.elfinder-ltr .ui-resizable-handle { right:0; }
.elfinder-rtl .ui-resizable-handle { left:0;  }

.elfinder-nav-handle-icon {
	position:absolute;
	top:50%;
	margin:-8px 2px 0 2px;
	opacity: .5; filter:Alpha(Opacity=50);
}



