/* jquery-ui dialog fix */
.std42-dialog {	padding:0; }

/* comment this line to enable ui theme original background */
.std42-dialog, .std42-dialog .ui-widget-content { background-color:#eee; background-image:none; }

.std42-dialog .ui-dialog-titlebar {
	border-left:0 solid;
	border-top:0 solid;
	border-right:0 solid;
	-moz-border-radius-bottomleft: 0; 
	-webkit-border-bottom-left-radius: 0; 
	border-bottom-left-radius: 0; 
	-moz-border-radius-bottomright: 0; 
	-webkit-border-bottom-right-radius: 0; 
	border-bottom-right-radius: 0; 
	font-size:.82em;
	font-weight:normal;
	padding:.2em 1em;
}

.std42-dialog .ui-dialog-titlebar-close,
.std42-dialog .ui-dialog-titlebar-close:hover { padding:1px; }

.std42-dialog .ui-dialog-content {
	padding:.3em .5em;
	font-size:.80em;
}

.std42-dialog .ui-dialog-buttonpane {
	border:0 solid;
	margin:0;
	padding:.5em .7em;
	font-size:.76em;
/*	border:1px solid #111;*/
}

.std42-dialog .ui-dialog-buttonpane button {
	margin:0 0 0 .4em;
	padding:0;
}
/*.ui-button-text-only .ui-button-text { padding: .4em 1em; }*/
.std42-dialog .ui-dialog-buttonpane button span {
	padding:2px 9px;
}

.std42-dialog .ui-resizable-se { bottom:0; right:0;}






