/*********************************************/
/*               TOOLBAR STYLES              */
/*********************************************/
/* toolbar container */
.elfinder-toolbar { padding:.2em; margin-bottom:2px; }

/* container for button's group */
.elfinder-buttonset {
	float:left;
	padding-left:10px;
	background:url('../images/toolbar.png') 0  -550px  no-repeat; ;
}

/* button */
.elfinder-button {
	float:left;
	width:16px;
	height:16px;
	margin:0 1px;
	padding:3px;
	overflow:hidden;
	position:relative;
}

.elfinder-menubutton {
	overflow:visible;
}

/* hack for upload button */
.elfinder-button form {
	position:absolute;
	top:0;
	right:0;
	opacity: 0; filter:Alpha(Opacity=0);
}

/* left to right enviroment */
.elfinder-rtl .elfinder-buttonset,
.elfinder-rtl .elfinder-button { float:right; }

/* right to left enviroment */
.elfinder-ltr .elfinder-buttonset:first-child,
.elfinder-rtl .elfinder-buttonset:last-child { padding-left:0; background:transparent; }

/* icon inside button */
.elfinder-button-icon {
	width:16px;
	height:16px;
	float:left;
	background:url('../images/toolbar.png')  no-repeat; 
/*	z-index:100;*/
}

/* buttons icons */
.elfinder-button-icon-home      { background-position: 0 -34px; }
.elfinder-button-icon-open      { background-position: 0 -66px; }
.elfinder-button-icon-back      { background-position: 0 -150px; }
.elfinder-button-icon-forward   { background-position: 0 -166px; }
.elfinder-button-icon-up        { background-position: 0 -182px; }
.elfinder-button-icon-reload    { background-position: 0 -198px; }
.elfinder-button-icon-getfile   { background-position: 0 -214px; }
.elfinder-button-icon-rm        { background-position: 0 -262px; }
.elfinder-button-icon-copy      { background-position: 0 -278px; }
.elfinder-button-icon-cut       { background-position: 0 -296px; }
.elfinder-button-icon-paste     { background-position: 0 -313px; }
.elfinder-button-icon-duplicate { background-position: 0 -330px; }
.elfinder-button-icon-info      { background-position: 0 -346px; }
.elfinder-button-icon-rename    { background-position: 0 -364px; }
.elfinder-button-icon-mkdir     { background-position: 0 -230px; }
.elfinder-button-icon-mkfile    { background-position: 0 -246px; }
.elfinder-button-icon-upload    { background-position: 0 -380px; }
.elfinder-button-icon-download  { background-position: 0 -398px; }
.elfinder-button-icon-quicklook { background-position: 0 -415px; }
.elfinder-button-icon-edit      { background-position: 0 -433px; }
.elfinder-button-icon-archive      { background-position: 0 -454px; }
.elfinder-button-icon-extract      { background-position: 0 -471px; }
.elfinder-button-icon-help      { background-position: 0 -631px; }
.elfinder-button-icon-search      { background-position: 0 -667px; }
.elfinder-button-icon-view      { background-position: 0 -507px; }

.elfinder-toolbar-ext .elfinder-buttonset { background:transparent; }

.elfinder-toolbar-ext .elfinder-button { margin:0; }

.elfinder-button-menu {
	position:absolute;
	left:0;
	top:19px;
	padding:0;
/*	border:1px solid #111;*/
/*	z-index:10;*/
}

.elfinder-button-menu-item {
/*	display:block;*/
	white-space:nowrap;
	font-size:.72em;
	cursor:default;
	padding:5px 24px 5px 9px;
}

.elfinder-button-menu .ui-state-hover {
	border:0 solid;
}
