/*********************************************/
/*               TOOLBAR STYLES              */
/*********************************************/
/* toolbar container */
.elfinder-toolbar { 
	padding:7px; 
	border-left:0 solid; 
	border-top:0 solid; 
	border-right:0 solid; 
}

/* container for button's group */
.elfinder-buttonset {
	margin-left:10px;
	float:left;
	background:transparent;
	padding:0;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
}

.elfinder-buttonset:first-child { margin:0; }

/* button */
.elfinder .elfinder-button {
	float:left;
	width:16px;
	height:16px;
	margin:0;
	padding:5px;
	overflow:hidden;
	position:relative;
	border:0 solid;
}

.elfinder-button:first-child {
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px; 
	-webkit-border-bottom-left-radius: 4px; 
	border-bottom-left-radius: 4px;
}

.elfinder-button:last-child {
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px; 
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px; 
	border-bottom-right-radius: 4px;
}

/* separator between buttons, required for berder between button with ui color */
.elfinder-toolbar-button-separator {
	float:left;
	padding:0;
	height:26px;
	border-top:0 solid;
	border-right:0 solid;
	border-bottom:0 solid;
	width:0;
}

/* change icon opacity^ not button */
.elfinder .elfinder-button.ui-state-disabled { opacity:1; filter:Alpha(Opacity=100);}
.elfinder .elfinder-button.ui-state-disabled .elfinder-button-icon { opacity:.4; filter:Alpha(Opacity=40);}

/* rtl enviroment */
.elfinder-rtl .elfinder-buttonset,
.elfinder-rtl .elfinder-button { float:right; }

/* icon inside button */
.elfinder-button-icon {
	width:16px;
	height:16px;
	display:block;
	background:url('../images/toolbar.png')  no-repeat; 
}

/* buttons icons */
.elfinder-button-icon-home      { background-position: 0 -34px;  }
.elfinder-button-icon-open      { background-position: 0 -66px;  }
.elfinder-button-icon-back      { background-position: 0 -150px; }
.elfinder-button-icon-forward   { background-position: 0 -166px; }
.elfinder-button-icon-up        { background-position: 0 -182px; }
.elfinder-button-icon-reload    { background-position: 0 -198px; }
.elfinder-button-icon-getfile   { background-position: 0 -214px; }
.elfinder-button-icon-rm        { background-position: 0 -262px; }
.elfinder-button-icon-copy      { background-position: 0 -278px; }
.elfinder-button-icon-cut       { background-position: 0 -296px; }
.elfinder-button-icon-paste     { background-position: 0 -313px; }
.elfinder-button-icon-duplicate { background-position: 0 -330px; }
.elfinder-button-icon-info      { background-position: 0 -346px; }
.elfinder-button-icon-rename    { background-position: 0 -364px; }
.elfinder-button-icon-mkdir     { background-position: 0 -230px; }
.elfinder-button-icon-mkfile    { background-position: 0 -246px; }
.elfinder-button-icon-upload    { background-position: 0 -380px; }
.elfinder-button-icon-download  { background-position: 0 -398px; }
.elfinder-button-icon-quicklook { background-position: 0 -416px; }
.elfinder-button-icon-edit      { background-position: 0 -433px; }
.elfinder-button-icon-archive   { background-position: 0 -454px; }
.elfinder-button-icon-extract   { background-position: 0 -471px; }
.elfinder-button-icon-help      { background-position: 0 -631px; }
.elfinder-button-icon-search    { background-position: 0 -667px; }
.elfinder-button-icon-view      { background-position: 0 -507px; }
.elfinder-button-icon-view-list { background-position: 0 -523px; }

/* button with dropdown menu*/
.elfinder .elfinder-menubutton { overflow:visible; }

/* menu */
.elfinder-button-menu {
	position:absolute;
	left:0;
	top:26px;
	padding:3px 0;
}

/* menu item */
.elfinder-button-menu-item {
	white-space:nowrap;
	font-size:.72em;
	cursor:default;
	padding:5px 19px;
}

/* fix hover ui class */
.elfinder-button-menu .ui-state-hover { border:0 solid; }

/* hack for upload button */
.elfinder-button form {
	position:absolute;
	top:0;
	right:0;
	opacity: 0; filter:Alpha(Opacity=0);
}
