.rnd-3 {
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
}

.rnd-5 {
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}

/* error/warning/question messages */
p.el-finder-err {
	padding: 15px;
	text-align:center;
	background: #fee; 
	color: #cc0509; 
	border: 2px #844 solid;
}

p.el-finder-err div {
	float:left;
	width:20px;
	height:20px;
	margin:auto 7px auto 0;
	background:url(../images/toolbar.png) 0 -514px no-repeat;
}

p.el-finder-warn {
	background: #ffe; 
	color: #cc0509; 
}

p.el-finder-quest {
	background: #d6eeff;
	border-color:#2c47a5;
	color: #444; 
}

p.el-finder-quest div {
	background-position:0 -491px;
}


/* file manager window */
.el-finder {
	width:100%; 
	min-width:400px;
	border:1px solid #ccc;
	background-color:#eee;
	font:.8em trebuchet ms,lucida grande,verdana,sans-serif;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

/* disabled */
.el-finder-disabled .el-finder-toolbar li,
.el-finder-disabled .el-finder-nav,
.el-finder-disabled .el-finder-cwd { 
	opacity:0.35; filter:Alpha(Opacity=35);
}

.el-finder-droppable {
	background-color:#99ccff;
}

/************************************/
/*             toolbar              */
/************************************/         

.el-finder-toolbar ul {
	padding:5px 7px;
	margin:0;
	list-style:none;
}

.el-finder-toolbar ul li {
	display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: top;
	height:22px; 
	width:23px;
	margin:0 2px;
	background:url('../images/toolbar.png') no-repeat; 
	border:1px solid #ccc;
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
}
.el-finder-toolbar ul li.delim { 
	border:none;
	width:3px;
	background-position: 1px -610px;
}

.el-finder-toolbar ul li.disabled { opacity:0.35; filter:Alpha(Opacity=35); }

.el-finder-toolbar ul li.back       { background-position: 3px -171px; }
.el-finder-toolbar ul li.reload     { background-position: 3px -192px; }
.el-finder-toolbar ul li.select     { background-position: 3px -214px; }
.el-finder-toolbar ul li.open       { background-position: 4px -235px; }
.el-finder-toolbar ul li.mkdir      { background-position: 4px -258px; }
.el-finder-toolbar ul li.mkfile     { background-position: 4px -280px; }
.el-finder-toolbar ul li.upload     { background-position: 3px -305px; }
.el-finder-toolbar ul li.rm         { background-position: 3px -330px; }
.el-finder-toolbar ul li.copy       { background-position: 3px -356px; }
.el-finder-toolbar ul li.paste      { background-position: 3px -381px; }
.el-finder-toolbar ul li.rename     { background-position: 3px -407px; }
.el-finder-toolbar ul li.edit       { background-position: 4px -435px; }
.el-finder-toolbar ul li.info       { background-position: 3px -462px; }
.el-finder-toolbar ul li.help       { background-position: 3px -487px; }
.el-finder-toolbar ul li.icons      { background-position: 3px -537px; }
.el-finder-toolbar ul li.list       { background-position: 3px -557px; }
.el-finder-toolbar ul li.uncompress { background-position: 3px -583px; }

/**********************************************************/
/*  workzone, container for navigation and current folder */
/**********************************************************/

.el-finder-workzone {
	background-color:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position:relative;
}

.el-finder-spinner {
	position:absolute;
	top:40%;
	left:45%;
	width:50px;
	height:50px;
	background:#fff url(../images/spinner.gif) 50% 50% no-repeat;
	border:1px solid #ccc;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	display:none;
}
/* error in workzone */
.el-finder-workzone p.el-finder-err {
	display:none;
	position:absolute;
	left:37%;
	top:20px;
}

/* navigation and current directory */
.el-finder-nav, .el-finder-cwd {
	height:350px;
	overflow:auto;
	padding:3px 1px;
}

/************************************/
/*             navigation           */
/************************************/

.el-finder-nav {
	float:left;
	width : 190px;
}

/* folders tree */
.el-finder-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

.el-finder-nav ul.el-finder-tree,
.el-finder-nav ul.el-finder-places {
	margin-bottom:1em;
}

.el-finder-nav ul li ul {
	margin-left:15px;
}

.el-finder-nav li {
	clear:both;
}

.el-finder-nav li div.dir-handler {
	width:9px;
	height:20px;
	float:left;
}

.el-finder-nav li a,
.el-finder-nav li div.dir-collapsed,
.el-finder-nav li div.dir-expanded {
	background:url(../images/toolbar.png) 3px -56px no-repeat;
}
.el-finder-nav li div.dir-collapsed {
	background-position: -4px 7px;
}
.el-finder-nav li div.dir-expanded {
	background-position: -4px -9px;
}

.el-finder-nav li a {
	display: block;
	white-space:nowrap;
	line-height:20px;
	margin-left:9px;
	padding:0 0 0 22px;
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	color:#444;
	cursor:default;
	text-decoration:none;
	outline:none;
}

.el-finder-nav li a.selected {
	background-color:#ccc;
	background-position: 3px -128px;
}

.el-finder-nav li a.root,
.el-finder-nav li a.root.selected { 
	background-position: 3px -30px; 
	font-weight:bold;
}

.el-finder-nav li a.wo {
	background-position: 3px -80px; 
}
.el-finder-nav li a.ro {
	background-position: 3px -104px; 
}

.el-finder-nav li strong {
	display:block;
	white-space:nowrap;
	line-height:20px;
	margin-left:9px;
	padding:0 0 0 22px;
	background:url(../images/toolbar.png) 3px -152px no-repeat;
	cursor:default;
}

.el-finder-nav ul.el-finder-tree .el-finder-droppable {
	background-color:#99ccff;
	background-position: 3px -237px; 
}

.el-finder-nav ul.hover {
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	background-color:#99ccff;
}

/***********************************/
/*     current working directory    */
/************************************/

.el-finder-cwd {
	border-left:1px solid #ccc;
	padding:3px;
	z-index:50;
}



/********** view: icons  ************/

.el-finder-cwd div {
	width: 81px;
	position:relative;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	margin:0 3px 3px 0;
	padding:0;
	text-align:center;
/*	border: 1px solid #ccc;*/
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}

.el-finder-cwd div.ui-selected {
	background:#ccc;
}

.el-finder-cwd div p {
	width:48px;
	height:48px;
	margin:1px auto;
	padding:0;
	border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	background:url('../images/icons-big.png') 0 1px no-repeat;
}

.el-finder-cwd div p span {
	display:block;
	width:48px;
	height:48px;
	padding:0;
	margin:0;
}


.el-finder-cwd div.directory p   { background-position: 0  -51px; }
.el-finder-cwd div.text p        { background-position: 0 -169px; }
.el-finder-cwd div.image p       { background-position: 0 -220px; }
.el-finder-cwd div.audio p       { background-position: 0 -321px; }
.el-finder-cwd div.video p       { background-position: 0 -270px; }
.el-finder-cwd div.application p { background-position: 0 -371px; }
.el-finder-cwd div.broken p      { background-position: 0 -422px; }

.el-finder-cwd div.el-finder-droppable { 
/*	background-color:#eee;*/
}

.el-finder-cwd div.el-finder-droppable p {
	background-position: 0 -100px;
}

.el-finder-cwd div label {
	display:block;
	font-size:.86em;
	line-height:.9em;
	padding:1px 1px;
	margin:0;
	height:20px;
	overflow:hidden;
	cursor:default;
}

/*.el-finder-cwd div.ui-selected label {
	background-color:#ccc;
}

.el-finder-cwd div.ui-selected p {
	background-color:#ccc;
}
*/
.el-finder-cwd div label input { 
	background:#fff; 
	width:81px;
	margin-left:-2px; 
	outline:none; 
	border:1px solid #ccc;
	text-align:center;
}

.el-finder-cwd div em {
	position:absolute;
	left:14px;
	top:35px;
	width:14px;
	height:14px;
	background:url(../images/icons-big.png) -17px -150px no-repeat;
}

.el-finder-cwd div em.wo {
	top:32px;
	left:45px;	
	background-position: -2px -152px;
}
.el-finder-cwd div em.ro {
	top:30px;
	left:45px;	
	height:16px;
	background-position: -34px -149px;
}

/********** view: list  ************/

.el-finder-cwd table {
	width:100%;
/*	border:1px solid #ccc;*/
}

.el-finder-cwd table tr.ui-selected {
	background-color:#ccc;
}

.el-finder-cwd table tr.el-finder-droppable {
/*	background-color:#eee;*/
}

.el-finder-cwd table tr th {
	padding:2px;
	border:1px solid #ccc;
	text-align:left;
	background:#fbf9ee;
	font-size:11px;
}

.el-finder-cwd table tr td {
	border:1px solid #ccc;
	position:relative;
	cursor:default;
}

.el-finder-cwd table tr td.icon {
	width:24px;
	padding:0;
}

.el-finder-cwd table tr td p {
	
	width:24px;
	height:16px;
	margin:0;
	padding:0;
	background:url(../images/icons-small.png) 3px 0 no-repeat;
	position:relative;
}

.el-finder-cwd table tr.directory p   { background-position:4px  -16px; }
.el-finder-cwd table tr.text  p       { background-position:5px  -34px; }
.el-finder-cwd table tr.image p       { background-position:4px  -51px; }
.el-finder-cwd table tr.audio p       { background-position:4px  -70px; }
.el-finder-cwd table tr.video p       { background-position:6px  -89px; }
.el-finder-cwd table tr.application p { background-position:4px -108px; }
.el-finder-cwd table tr.broken p      { background-position:5px -127px; }

.el-finder-cwd table tr.el-finder-droppable p { background-position:5px -450px; }

.el-finder-cwd table tr td p em {
	position:absolute;
	display:block;
	width:10px;
	height:12px;
	left:1px;
	top:4px;
	background:url(../images/icons-small.png) 0px -405px no-repeat;
}

.el-finder-cwd table tr td p em.ro {
	left:12px;
	background-position:0px -433px;
}

.el-finder-cwd table tr td p em.wo {
	left:12px;
	background-position:0px -418px;
}

/************************************/
/*              statusbar           */
/************************************/

.el-finder-statusbar {
	height:20px;
}

.el-finder-statusbar .path,
.el-finder-statusbar .stat,
.el-finder-statusbar .selected-files {
	padding:3px 9px 1px 9px;
	font-size:11px;
	color:#555;
}
/* current directory path */
.el-finder-statusbar .path {
	float:left;
}
/* number folders/files in current directory and size */
.el-finder-statusbar .stat {
	float:right;
}
/* info about selected files */
.el-finder-statusbar .selected-files {
	text-align:center;
}

/************************************/
/*           dialog window          */
/************************************/

.el-finder-dialog {
	font-size:.86em;
}
.el-finder-dialog .ui-dialog-titlebar { 
	padding: .3em .1em .1em .8em; 
}
.el-finder-dialog .ui-dialog-buttonpane {
	padding: .1em 1em .1em .4em; 
	font-size:.9em;
}
.el-finder-dialog .ui-dialog-content {
	padding:3px;
	font-size:.9em;
}
.el-finder-dialog hr {
	border:0;
	border-bottom: 1px #ccc solid;
}

.el-finder-dialog .ui-state-error {
	margin: 5px 0; 
	padding:.7em;
	clear:both;
}

.el-finder-dialog .ui-state-error .ui-icon {
	float: left; 
	margin-right: .3em;
}

.el-finder-dialog form {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding: .5em 0;
	margin: .3em 0;
}

.el-finder-dialog form div {
	font-size:.9em;
	padding:.1em 0;
}

.el-finder-add-field {
	cursor:pointer;
}

.el-finder-add-field span {
	float:left;margin-right:.7em
}



.el-finder-dialog table {
	width : 100%;
/*	border:1px solid #ccc;*/
}

.el-finder-dialog table td {
	padding:3px;

}
.el-finder-dialog table a { outline: none;}

/************************************/
/*            contextmenu           */
/************************************/

.el-finder-contextmenu { 
	position:absolute;
	background:#fff; 
	cursor:default; 
	border:1px solid #ccc;  
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	padding:5px 0;
}

.el-finder-contextmenu div { 
	display:block;
/*	border:1px solid #ccc;  */
	margin:0;

	padding:5px 7em 5px 29px;
	font:12px trebuchet ms,lucida grande,verdana,sans-serif;
	background:url('../images/toolbar.png') 0 0 no-repeat;
}



.el-finder-contextmenu div.reload     { background-position: 5px -192px; }
.el-finder-contextmenu div.select     { background-position: 5px -214px; }
.el-finder-contextmenu div.open       { background-position: 6px -235px; }
.el-finder-contextmenu div.mkdir      { background-position: 6px -258px; }
.el-finder-contextmenu div.mkfile     { background-position: 6px -280px; }
.el-finder-contextmenu div.upload     { background-position: 5px -305px; }
.el-finder-contextmenu div.rm         { background-position: 5px -330px; }
.el-finder-contextmenu div.copy       { background-position: 5px -356px; }
.el-finder-contextmenu div.cut        { background-position: 5px -631px; }
.el-finder-contextmenu div.duplicate  { background-position: 5px -356px; }
.el-finder-contextmenu div.paste      { background-position: 5px -381px; }
.el-finder-contextmenu div.rename     { background-position: 5px -407px; }
.el-finder-contextmenu div.edit       { background-position: 6px -435px; }
.el-finder-contextmenu div.info       { background-position: 5px -462px; }
.el-finder-contextmenu div.help       { background-position: 5px -487px; }
.el-finder-contextmenu div.icons      { background-position: 5px -537px; }
.el-finder-contextmenu div.list       { background-position: 5px -557px; }
.el-finder-contextmenu div.compress   { background-position: 5px -583px; }
.el-finder-contextmenu div.uncompress { background-position: 5px -583px; }

.el-finder-contextmenu div.delim { 
	margin:0; 
	padding:0; 
	height:1px; 
	border-top:1px solid #eee; 
	background:transparent; 
	display:block;
}
.el-finder-contextmenu div.hover { background-color:#99ccff; }

.el-finder-places {
	margin-top:.5em;
}

.el-finder-places label {
	display:block;
	padding: 0 0 0 21px;
	height:20px;
	background:url(../images/sprite.png) 0 -421px no-repeat;
}

div.el-finder-drag-helper {
	padding:0;
/*	border:1px solid #111;*/
	cursor:move;
	width:auto;
}

div.el-finder-drag-copy {
	background:url('../images/toolbar.png') 0 -665px no-repeat;
}

.el-finder-drag-helper .el-finder-cwd { 
	float:none;
	border: none; 
	height:auto; 
	width:auto;
	max-width:300px;
	overflow:hidden;
	padding:0;
	padding-left:60px;
/*	border:1px solid #ccc;*/
}

.el-finder-drag-helper .el-finder-cwd div {
	margin-left:-60px;
}

div.el-finder-drag-helper label { 
	background-color:#fff; 
	border:1px solid #ccc; 
	background-color:#eee;
	text-align:left;
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}



