<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="elFinder - file manager from Web" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:bold&amp;v1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/demo/css/elfinder.min.css" />
    <link rel="stylesheet" type="text/css" href="/demo/css/theme.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  </head>
  <body>
    <div class="wrap">
      <div class="header clearfix">
        <div class="logo">
        <a href="/"><img src="/images/elfinder-logo.png" alt="elFinder logo" /></a>
        <h1><a href="/">elFinder <span>file manager for web</span></a></h1>
        </div>

        <div class="download">
          <a href="https://github.com/downloads/Studio-42/elFinder/elfinder-2.0-rc1.tar.gz" class="download-button" onclick="_gaq.push(['_trackEvent', 'Github', 'Download']);">Download the latest<br/><span>2.0-rc1 &mdash; April 10th, 2012</span></a>
        </div>

        <div class="menu">
          <ul>
            <li><a href="https://github.com/Studio-42/elFinder" onclick="_gaq.push(['_trackEvent', 'Github', 'Code']);">Code</a></li>
            <li><a href="https://github.com/Studio-42/elFinder/issues" onclick="_gaq.push(['_trackEvent', 'Github', 'Issues']);">Issues</a></li>
            <li><a href="https://github.com/Studio-42/elFinder/wiki" onclick="_gaq.push(['_trackEvent', 'Github', 'Wiki']);">Wiki</a></li>
            <li><a href="/forum/">Forum</a></li>
          </ul>
        </div>

      </div>

      <div class="content">
        {{ content }}
      </div>

      <div class="footer">
        <img src="/images/vintage.png" alt="" /><br/>
        <a href="http://www.std42.ru">Studio 42</a>
      </div>
    </div>
    <a href="https://github.com/Studio-42/elFinder" onclick="_gaq.push(['_trackEvent', 'Github', 'Fork me']);"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/forkme-white.png" alt="Fork me on GitHub"></a>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script src="/demo/js/elfinder.min.js"></script>
    <script type="text/javascript">
      // elFinder init
      $().ready(function() {
        var f = $('#elfinder').elfinder({
          url : '/connector'
        }).elfinder('instance');
      });

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8689655-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>