<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="elFinder - file manager from Web" />
    <link  href="http://fonts.googleapis.com/css?family=Ubuntu:bold&amp;v1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/demo/css/elfinder.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/demo/css/theme.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/demo/js/elfinder.min.js"></script>

    <script type="text/javascript">
      $().ready(function() {
        var f1 = $('#elfinder').elfinder({
          url : '/connector'
        }).elfinder('instance');
      });
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="header clearfix">
        <div class="logo">
        <a href="/"><img src="/images/elfinder-logo.png" alt="elFinder logo" /></a>
        <h1><a href="/">elFinder <span>file manager for web</span></a></h1>
        </div>
        
        <div class="download">
          <a href="https://github.com/downloads/Studio-42/elFinder/elfinder-2.0-rc1.tar.gz" class="download-button">Download the latest<br/><span>2.0-rc1 &mdash; April 10th, 2012</span></a>
        </div>

        <div class="menu">
          <ul>
            <li><a href="https://github.com/Studio-42/elFinder">Code</a></li>
            <li><a href="https://github.com/Studio-42/elFinder/issues">Issues</a></li>
            <li><a href="https://github.com/Studio-42/elFinder/wiki">Wiki</a></li>
            <li><a href="/forum/">Forum</a></li>
          </ul>
        </div>

      </div>
      
      <div class="content">
        {{ content }}
      </div>

      <div class="footer">
        <img src="/images/vintage.png" alt="" /><br/>
        <a href="http://www.std42.ru">Studio 42</a>
      </div>
    </div>
    <a href="https://github.com/Studio-42/elFinder"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8689655-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
